@charset "UTF-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 80%;
  margin: auto;
  font-family: Arial;
  padding: 10px;
  background: #ffffff;
}

/* Header/Blog Title */
#header {
  display: flex;
  background: #202f3c;
  min-height: 18vh;
  position: relative;
}
#header > h6 {
  position: absolute;
  top: 5px;
  right: 10px;
  color: orange;
}
/* background: #05284b; */

#header .header-left {
  flex: 2;
  margin: auto;
}

#header .header-item {
  text-align: center;
  width: 100%;
}

#header .header-right {
  flex: 3;
  margin: auto;
}

#header .header-right .header-search {
  width: 80%;
  padding: 10px;
  border: 1px solid orange;
  border-radius: 3px;
}

#header h1 {
  margin: auto;
  font-family: "Smooch", cursive;
  font-size: 3rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 8px #ff0000;
}

#header p {
  margin: auto;
  color: #0080c0;
}

/* Style the top navigation bar */
#topnav {
  overflow: hidden;
  background-color: #233443;
  display: flex;
  justify-content: space-between;
  min-height: 40px;
}

#topnav .nav-list {
  margin: 0 20px;
}

#topnav .nav-list li {
  display: inline-block;
}

#topnav .nav-list li a {
  display: block;
  line-height: 40px;
  padding: 0 20px;
  color: #f2f2f2;
  text-decoration: none;
}

/* Change color on hover */
#topnav .nav-list a:hover {
  background-color: #ddd;
  color: black;
}

#topnav .nav-list li i {
  color: white;
}

/* --------------------------------- */
/* body index.jsp */
#main-content {  
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#content-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#content-wrapper .error {
	position: absolute;
	color: red;
}

#content-wrapper .item {
  width: 22%;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
  border: 3px #dddddd solid;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#content-wrapper .item img {
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

#content-wrapper .item .product-type {
  text-transform: uppercase;
  color: #8f8f8f;
  font-weight: 100;
  padding: 0 4px;
}

#content-wrapper .item .product-name {
  color: #405368;
  padding: 2px 4px;
}

#content-wrapper .item .product-price {
  color: #b02a15;
  padding: 4px 4px;
  font-weight: bold;
}

#pages-nav {
  text-align: center;
}

#pages-nav a {
	text-decoration: none;
	color: black;
	margin: 0 10px;
}

#pages-nav a.active {
	color: orange;
	font-weight: bold;
}

/* --------------------------------- */
/* body infoProduct.jsp */
#product-wrapper .product-name {
  padding: 10px;
  margin: 0 10px;
  border-bottom: 2px solid #dddddd;
}

#product-wrapper .product-info {
  padding: 30px;
  display: flex;
}

#product-wrapper .product-image {
  min-width: 400px;
}

#product-wrapper .product-image img {
  width: 100%;
}

#product-wrapper .product-detail .product-price {
  color: #f40615;
}

#product-wrapper .product-detail .product-des {
  margin: 12px 0;
}

#product-wrapper .product-detail a {
	display: block;
	width: 20%;
	min-width: 200px;
	padding: 10px 20px;
	margin-top: 24px;
	color: white;
	background: #ee8824; 
	border: none;
	border-radius: 3px;
	text-decoration: none;
	text-align: center;
}

/* --------------------------------- */
/* body cart.jsp */
#cart-wrapper {
	margin-top: 20px;
	min-height: 600px;
}

#cart-wrapper img {
	width: 10%;
	min-width: 50px;
}

#product-cart, #customer-info {
  border-collapse: collapse;
/*   width: 100%; */
}

#product-cart td, #product-cart th,
#customer-info td, #customer-info th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#product-cart tr:nth-child(even){
	background-color: #f2f2f2;
}

#cart-wrapper tr:hover {
	background-color: #ddd;
}

#cart-wrapper .item a {
/* 	padding: 10px 20px; */
/* 	margin-top: 24px; */
	color: white;
	background: red; 
	border: none;
	border-radius: 3px;
	text-decoration: none;
	text-align: center;	
}

#cart-wrapper .submit-order a {
	display: block;
	padding: 5px 5px;
	color: white;
	background: orange; 
	border: none;
	border-radius: 3px;
	text-decoration: none;
	text-align: center;
}

/* --------------------------------- */
/* Footer */
#footer {
  display: flex;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  border-radius: 30px 10px;
  text-align: center;
  background: #233443;
  margin-top: 20px;
}

#footer div {
  padding: 20px;
}

#footer div p {
  margin-left: 20px;
}

.tour {
  width: 28%;
}

.cty {
  margin: auto;
  text-align: center;
}

.cty h4 {
  color: orange;
}

.cty p {
  color: orange;
}

/* Responsive layout when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
/* Responsive layout when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
